@mixin dimmed {
  opacity: .6;
}

@mixin greater-icon($stroke-width: 3px, $width: .95rem, $height: 100%) {
  .greater-icon {
    width: $width;
    height: $height;

    path {
      stroke: currentColor;
      stroke-width: $stroke-width;
    }
  }
}
