{{ define "main" }}
    <main class="books">
        <div class="lang-toggle">
            {{ if .IsTranslated }}
                {{ i18n "postAvailable" }}
                {{ range .Translations }}
                    <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
                {{ end}}
            {{ end }}
        </div>
        <h1 style="margin-top: 0;">{{ .Title | emojify }}</h1>

        {{- if .Content }}
            <div class="books-content">{{ .Content }}</div>
        {{- end }}

        {{- range .Data.Pages.GroupByParamDate "readingEnd" "2006" }}
            <div class="books-group">
                <div class="books-year">{{ .Key }}</div>
                {{- range .Pages.GroupByParamDate "readingEnd" "2006-01-01" }}

                <div class="books-month">{{ dateFormat "January" .Key }}</div>
                    {{- range .Pages }}
                    <div class="book-cover">
                        <span class="book-img">
                            <a href="{{.Permalink}}">
                                <img src="{{ .Params.bookCover }}"/>
                            </a>
                        </span>
                        <span class="book-meta">
                            <span class="book-rating">
                                {{- if .Params.draft }}
                                    <span class="book-draft">Draft</span>
                                {{- else }}
                                    {{ chomp (partial "book-rating.html" .)}}
                                {{- end }}
                            </span>
                        </span>
                    </div>
                    {{- end }}
                {{- end }}
            </div>
        {{- end }}
    </main>
{{ end }}
