{{ define "main" }}
    <main aria-role="main">
        <div>
            <br />
            {{- with .Site.Params.homeLogo }}
                <img class="center" alt="nheer logo" src="{{.}}" style="height: 15em;">
            {{- end }}

            <h1>{{ .Site.Title }}</h1>

            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
