---
// Inky - The snarky tech octopus mascot
import { getInkyComments } from "../utils/inky";

const comments = await getInkyComments(5);
---

<div class="inky-container" id="inky-container">
    <!-- Speech bubble (hidden by default) -->
    <div class="inky-bubble" id="inky-bubble">
        <p class="inky-text" id="inky-text"></p>
        <div class="inky-footer">
            <span class="inky-name">- Inky</span>
            <a
                class="inky-source"
                id="inky-source"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                title=""
            >
                <!-- Hacker News icon -->
                <svg
                    class="source-icon hn-icon"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                >
                    <path
                        d="M0 0v24h24V0H0zm12.3 12.5l3.6-6.5h1.7l-4.5 8v5.5h-1.6V14l-4.5-8h1.8l3.5 6.5z"
                    ></path>
                </svg>
                <!-- The New Stack icon (generic news/article icon) -->
                <svg
                    class="source-icon tns-icon"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                >
                    <path
                        d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z"
                    ></path>
                </svg>
                <!-- DevOps.com icon (gear/cog icon) -->
                <svg
                    class="source-icon devops-icon"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                >
                    <path
                        d="M19.14 12.94c.04-.31.06-.63.06-.94 0-.31-.02-.63-.06-.94l2.03-1.58c.18-.14.23-.41.12-.61l-1.92-3.32c-.12-.22-.37-.29-.59-.22l-2.39.96c-.5-.38-1.03-.7-1.62-.94l-.36-2.54c-.04-.24-.24-.41-.48-.41h-3.84c-.24 0-.43.17-.47.41l-.36 2.54c-.59.24-1.13.57-1.62.94l-2.39-.96c-.22-.08-.47 0-.59.22L2.74 8.87c-.12.21-.08.47.12.61l2.03 1.58c-.04.31-.06.63-.06.94s.02.63.06.94l-2.03 1.58c-.18.14-.23.41-.12.61l1.92 3.32c.12.22.37.29.59.22l2.39-.96c.5.38 1.03.7 1.62.94l.36 2.54c.05.24.24.41.48.41h3.84c.24 0 .44-.17.47-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96c.22.08.47 0 .59-.22l1.92-3.32c.12-.22.07-.47-.12-.61l-2.01-1.58zM12 15.6c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6 3.6 1.62 3.6 3.6-1.62 3.6-3.6 3.6z"
                    ></path>
                </svg>
            </a>
        </div>
    </div>

    <!-- Inky the Octopus -->
    <button
        class="inky-mascot"
        id="inky-mascot"
        aria-label="Click Inky for a snarky tech comment"
        title="Click me!"
    >
        <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 4000 4000"
            class="inky-svg"
        >
            <g>
                <g>
                    <g>
                        <path
                            style="fill:#BC3EFF;"
                            d="M2000,2668.638c0,0,517.552,421.548,928.373,349.958
              c507.915-88.511,667.234-515.404,542.638-806.128c-124.191-289.779-478.979-291.404-575.135-88.835
              c-52.245,110.063,2.199,241.176,112.837,246.112c113.313,5.056,115.708-95.559,99.404-116.085
              c-23.66-29.787-47.499,2.737-77.787,0.34c-35.489-2.808-30.894-85.787,26.043-101.447
              c51.499-14.164,131.745,37.106,122.553,166.809c-6.427,90.689-90.023,207.391-253.958,196.085
              c-177.702-12.255-177.021-234.213-162.042-342.468c26.569-192.02,140.131-369.366,132.085-662.468
              C2880.713,989.659,2400.713,720.042,2000,720.042s-880.713,269.617-895.011,790.468
              c-8.046,293.102,105.516,470.448,132.085,662.468c14.979,108.255,15.66,330.213-162.042,342.468
              c-163.934,11.306-247.531-105.396-253.958-196.085c-9.191-129.702,71.055-180.973,122.553-166.809
              c56.936,15.66,61.532,98.638,26.043,101.447c-30.288,2.397-54.128-30.127-77.787-0.34
              c-16.303,20.526-13.909,121.141,99.404,116.085c110.638-4.936,165.083-136.048,112.837-246.112
              c-96.156-202.569-450.944-200.944-575.135,88.835c-124.596,290.723,34.723,717.617,542.638,806.128
              C1482.449,3090.186,2000,2668.638,2000,2668.638z"
                        ></path>
                    </g>
                    <g>
                        <path
                            style="fill:#C85FFF;"
                            d="M2524.297,1334.823c-176.96-18.4-309.421-55.12-524.279-55.12s-347.32,36.72-524.28,55.12
              c-167.521,17.4-174.12-94.64-100.28-206.88c108.44-164.8,301.84-304.4,624.561-304.4c322.72,0,516.119,139.6,624.559,304.4
              C2698.417,1240.183,2691.818,1352.223,2524.297,1334.823z"
                        ></path>
                    </g>
                    <g style="opacity:0.5;">
                        <path
                            style="fill:#FFFFFF;"
                            d="M2762.938,2172.783c19.76-368.92,166.52-579.88,5.84-942.12
              c-100.2-225.96-403.521-428.92-768.76-428.92c-365.28,0-668.601,202.96-768.801,428.92c-160.64,362.24-13.92,573.2,5.84,942.12
              c-26.64-191.92-140.119-369.28-132.08-662.28c14.32-520.84,494.32-790.48,895.041-790.48c400.68,0,880.68,269.64,895,790.48
              C2903.057,1803.503,2789.577,1980.863,2762.938,2172.783z"
                        ></path>
                    </g>
                    <g>
                        <g>
                            <path
                                style="fill:#C85FFF;"
                                d="M1235.22,2350.957c-15.917,82.968-59.293,157.532-160.188,164.49
                c-163.934,11.306-247.53-105.396-253.957-196.085c-1.557-21.956-0.5-41.61,2.496-59.134c-1.064-5.905-2.135-11.877-3.229-17.973
                c-44.306,57.021-83.488,283.844,135.541,377.362c242.383,103.489,480.681-84.426,458.005-220.596
                C1403.135,2334.448,1299.392,2306.598,1235.22,2350.957z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#9000CC;"
                                d="M835.652,2379.118c-8.34-20.11-13.214-40.517-14.577-59.756
                c-9.191-129.702,71.055-180.973,122.553-166.809c56.937,15.66,61.532,98.638,26.043,101.447
                c-30.288,2.397-54.128-30.128-77.787-0.34c-10.534,13.262-13.213,59.936,16.742,89.961c-1.131-14.417-3.229-47.62,0.573-56.94
                c5.833-14.298,29.948,6.146,54.854,8.681c38.468,3.915,74.553-12.766,82.383-74.042
                c10.019-78.403-73.531-168.851-164.085-126.638c-94.84,44.211-120.511,189.958-46.715,284.417
                C835.642,2379.105,835.647,2379.111,835.652,2379.118z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#9000CC;"
                                d="M1736.263,2844.903l-206.364-220.081c0,0-146.627,237.484-382.351,180.995
                c-422.473-101.243-457.865-293.715-494.983-384.328c-17.508-42.74-59.028-75.332-95.032-70.622
                C526.244,2885.177,1168.417,3132.828,1736.263,2844.903z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#F4B8FF;"
                                d="M706.692,2232.553c86.809-171.574,200.17-157.617,202.213-209.362
                c1.368-34.673-66.194-41.345-100.784-37.35c-3.708,0.574-7.415,1.209-11.122,1.909c-1.071,0.259-2.111,0.441-3.132,0.581
                c-105.289,20.91-208.687,93.025-264.877,224.136c-96.186,224.432-23.112,529.974,248.856,698.384l131.352-179.575
                C653.585,2675.787,644.789,2354.902,706.692,2232.553z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#D480E8;"
                                d="M819.365,2854.091l89.834-122.814c-123.872-26.891-189.779-116.109-217.767-214.854
                c-18.37-36.741-28.559-69.768-38.867-94.933c-17.508-42.74-59.028-75.332-95.032-70.623
                C544.384,2575.386,650.166,2749.272,819.365,2854.091z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#BD2EFF;"
                                d="M606.98,2092.374c34.045-35.905,73.056-62.705,114.099-80.913
                c4.618,2.099,8.768,4.962,12.209,8.723c19.815,21.657,9.792,63.081-22.387,92.522c-32.179,29.441-74.327,35.752-94.143,14.095
                C608.636,2117.924,605.605,2105.706,606.98,2092.374z M491.471,2358.554c6.244,10.928,15.211,18.704,26.313,21.429
                c28.508,6.997,60.046-21.668,70.442-64.026c10.396-42.358-4.285-82.368-32.794-89.365c-11.848-2.908-24.201,0.415-35.36,8.25
                C505.466,2274.268,495.882,2315.872,491.471,2358.554z M562.109,2641.126c27.817-9.372,39.08-50.476,25.155-91.808
                s-47.764-67.242-75.581-57.87c-6.1,2.055-11.349,5.708-15.766,10.482c7.692,46.969,21.53,93.775,41.736,139.045
                C545.897,2643.519,554.242,2643.777,562.109,2641.126z M723.833,2873.638c1.306-0.833,2.588-1.708,3.793-2.715
                c22.524-18.823,18.112-61.213-9.857-94.68c-27.967-33.468-68.899-45.339-91.424-26.516c-5.482,4.581-9.34,10.577-11.68,17.482
                C645.284,2805.575,681.621,2841.422,723.833,2873.638z"
                            ></path>
                        </g>
                        <g>
                            <g>
                                <path
                                    style="fill:#8800C1;"
                                    d="M572.951,2351.087c-5.193-0.735-10.362-0.882-15.419-0.22
                  c-0.356,6.086-0.586,12.118-0.768,18.13C562.656,2364.216,568.156,2358.207,572.951,2351.087z"
                                ></path>
                            </g>
                            <g>
                                <path
                                    style="fill:#8800C1;"
                                    d="M587.264,2549.319c-3.94-11.696-9.512-22.095-16.054-30.871
                  c5.719,24.392,13.04,47.925,21.867,70.568C593.659,2576.555,591.861,2562.962,587.264,2549.319z"
                                ></path>
                            </g>
                        </g>
                        <g>
                            <g style="opacity:0.5;">
                                <path
                                    style="fill:#FFFFFF;"
                                    d="M762.862,2046.681c216.522-83.035,381.574,73.152,332.93,263.078
                  c32.846-49.344,39.074-121.366,8.333-186.126c-96.156-202.569-450.944-200.944-575.135,88.835
                  c-40.702,94.97-51.087,204.471-28.94,311.961C491.036,2363.242,552.51,2127.35,762.862,2046.681z"
                                ></path>
                            </g>
                            <g style="opacity:0.4;">
                                <polygon
                                    style="fill:#FFFFFF;"
                                    points="1239.285,2325.305 1239.285,2325.304 1239.285,2325.306"
                                ></polygon>
                            </g>
                            <g style="opacity:0.5;">
                                <path
                                    style="fill:#FFFFFF;"
                                    d="M1218.49,2494.667c-0.036-0.28-0.097-0.552-0.136-0.83
                  c75.691-89.669,70.383-244.619,14.436-347.758c-0.029-0.053-0.057-0.1-0.085-0.154c1.616,8.997,3.118,18.006,4.37,27.054
                  c14.979,108.255,15.659,330.213-162.043,342.468c-163.934,11.306-247.53-105.396-253.957-196.085
                  c-3.538-49.926,6.203-88.184,22.428-115.608c-0.002-0.01-0.012-0.049-0.012-0.049
                  c-59.511,44.734-72.106,244.407,64.553,326.039c0.111,1.533,0.231,3.067,0.428,4.605
                  c7.982,62.359,83.852,104.028,169.462,93.071C1163.541,2616.461,1226.471,2557.026,1218.49,2494.667z"
                                ></path>
                            </g>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path
                                style="fill:#C85FFF;"
                                d="M2759.163,2350.957c15.917,82.968,59.293,157.532,160.188,164.49
                c163.934,11.306,247.53-105.396,253.957-196.085c1.557-21.956,0.5-41.61-2.496-59.134c1.064-5.905,2.135-11.877,3.229-17.973
                c44.306,57.021,83.488,283.844-135.541,377.362c-242.383,103.489-480.681-84.426-458.005-220.596
                C2591.248,2334.448,2694.991,2306.598,2759.163,2350.957z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#9000CC;"
                                d="M3158.731,2379.118c8.34-20.11,13.214-40.517,14.577-59.756
                c9.191-129.702-71.055-180.973-122.553-166.809c-56.937,15.66-61.532,98.638-26.043,101.447
                c30.288,2.397,54.128-30.128,77.787-0.34c10.534,13.262,13.213,59.936-16.742,89.961c1.131-14.417,3.229-47.62-0.573-56.94
                c-5.833-14.298-29.948,6.146-54.854,8.681c-38.468,3.915-74.553-12.766-82.383-74.042
                c-10.019-78.403,73.531-168.851,164.085-126.638c94.84,44.211,120.511,189.958,46.715,284.417
                C3158.741,2379.105,3158.736,2379.111,3158.731,2379.118z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#9000CC;"
                                d="M2258.12,2844.903l206.364-220.081c0,0,146.627,237.484,382.352,180.995
                c422.473-101.243,457.865-293.715,494.983-384.328c17.508-42.74,59.028-75.332,95.032-70.622
                C3468.139,2885.177,2825.966,3132.828,2258.12,2844.903z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#F4B8FF;"
                                d="M3287.691,2232.553c-86.809-171.574-200.17-157.617-202.213-209.362
                c-1.368-34.673,66.194-41.345,100.784-37.35c3.708,0.574,7.415,1.209,11.122,1.909c1.071,0.259,2.111,0.441,3.132,0.581
                c105.289,20.91,208.687,93.025,264.877,224.136c96.186,224.432,23.112,529.974-248.856,698.384l-131.353-179.575
                C3340.798,2675.787,3349.594,2354.902,3287.691,2232.553z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#D480E8;"
                                d="M3175.018,2854.091l-89.834-122.814c123.872-26.891,189.779-116.109,217.768-214.854
                c18.37-36.741,28.559-69.768,38.867-94.933c17.508-42.74,59.028-75.332,95.032-70.623
                C3449.999,2575.386,3344.217,2749.272,3175.018,2854.091z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#BD2EFF;"
                                d="M3377.625,2126.801c-19.815,21.657-61.964,15.346-94.142-14.095
                c-32.179-29.442-42.201-70.865-22.387-92.522c3.441-3.761,7.591-6.624,12.209-8.723c41.043,18.207,80.054,45.008,114.099,80.913
                C3388.778,2105.706,3385.747,2117.924,3377.625,2126.801z M3474.31,2234.842c-11.159-7.835-23.513-11.158-35.36-8.25
                c-28.509,6.997-43.19,47.007-32.794,89.365s41.935,71.023,70.442,64.026c11.103-2.725,20.07-10.5,26.313-21.429
                C3498.501,2315.872,3488.917,2274.268,3474.31,2234.842z M3456.729,2640.975c20.207-45.269,34.044-92.075,41.737-139.045
                c-4.417-4.774-9.666-8.427-15.766-10.482c-27.817-9.372-61.656,16.538-75.581,57.87s-2.662,82.436,25.155,91.808
                C3440.141,2643.777,3448.486,2643.519,3456.729,2640.975z M3379.717,2767.208c-2.34-6.905-6.197-12.9-11.68-17.482
                c-22.524-18.823-63.457-6.951-91.424,26.516c-27.969,33.468-32.381,75.857-9.856,94.68c1.205,1.007,2.487,1.882,3.793,2.715
                C3312.762,2841.422,3349.099,2805.575,3379.717,2767.208z"
                            ></path>
                        </g>
                        <g>
                            <g>
                                <path
                                    style="fill:#8800C1;"
                                    d="M3421.432,2351.087c5.193-0.735,10.363-0.882,15.419-0.22c0.356,6.086,0.586,12.118,0.769,18.13
                  C3431.726,2364.216,3426.226,2358.207,3421.432,2351.087z"
                                ></path>
                            </g>
                            <g>
                                <path
                                    style="fill:#8800C1;"
                                    d="M3407.119,2549.319c3.94-11.696,9.512-22.095,16.054-30.871
                  c-5.719,24.392-13.04,47.925-21.867,70.568C3400.723,2576.555,3402.522,2562.962,3407.119,2549.319z"
                                ></path>
                            </g>
                        </g>
                        <g>
                            <g style="opacity:0.5;">
                                <path
                                    style="fill:#FFFFFF;"
                                    d="M3231.521,2046.681c-216.521-83.035-381.574,73.152-332.93,263.078
                  c-32.846-49.344-39.074-121.366-8.333-186.126c96.156-202.569,450.944-200.944,575.135,88.835
                  c40.702,94.97,51.087,204.471,28.939,311.961C3503.346,2363.242,3441.873,2127.35,3231.521,2046.681z"
                                ></path>
                            </g>
                            <g style="opacity:0.4;">
                                <polygon
                                    style="fill:#FFFFFF;"
                                    points="2755.097,2325.305 2755.097,2325.304 2755.097,2325.306"
                                ></polygon>
                            </g>
                            <g style="opacity:0.5;">
                                <path
                                    style="fill:#FFFFFF;"
                                    d="M2775.893,2494.667c0.036-0.28,0.097-0.552,0.136-0.83
                  c-75.691-89.669-70.383-244.619-14.436-347.758c0.029-0.053,0.057-0.1,0.085-0.154c-1.616,8.997-3.118,18.006-4.37,27.054
                  c-14.979,108.255-15.659,330.213,162.043,342.468c163.934,11.306,247.53-105.396,253.957-196.085
                  c3.538-49.926-6.203-88.184-22.428-115.608c0.002-0.01,0.012-0.049,0.012-0.049c59.511,44.734,72.106,244.407-64.553,326.039
                  c-0.111,1.533-0.231,3.067-0.428,4.605c-7.982,62.359-83.853,104.028-169.462,93.071
                  C2830.842,2616.461,2767.912,2557.026,2775.893,2494.667z"
                                ></path>
                            </g>
                        </g>
                    </g>
                    <!-- Left Eye -->
                    <g class="eye left-eye">
                        <defs>
                            <clipPath id="left-eye-clip">
                                <ellipse
                                    cx="1644.596"
                                    cy="1974"
                                    rx="168.851"
                                    ry="211.234"></ellipse>
                            </clipPath>
                        </defs>
                        <g>
                            <ellipse
                                style="fill:#18005B;"
                                cx="1644.596"
                                cy="1974"
                                rx="168.851"
                                ry="211.234"></ellipse>
                        </g>
                        <g style="opacity:0.4;">
                            <ellipse
                                style="fill:#FFFFFF;"
                                cx="1565.021"
                                cy="2013.555"
                                rx="45.192"
                                ry="68.147"></ellipse>
                        </g>
                        <g>
                            <ellipse
                                style="fill:#FFFFFF;"
                                cx="1705.095"
                                cy="1964.642"
                                rx="60.5"
                                ry="91.23"></ellipse>
                        </g>
                        <!-- Eyelid for blink -->
                        <rect
                            class="eyelid"
                            x="1470"
                            y="1760"
                            width="350"
                            height="430"
                            style="fill:#BC3EFF;"
                            clip-path="url(#left-eye-clip)"></rect>
                    </g>
                    <!-- Right Eye -->
                    <g class="eye right-eye">
                        <defs>
                            <clipPath id="right-eye-clip">
                                <ellipse
                                    cx="2355.404"
                                    cy="1974"
                                    rx="168.851"
                                    ry="211.234"></ellipse>
                            </clipPath>
                        </defs>
                        <g>
                            <ellipse
                                style="fill:#18005B;"
                                cx="2355.404"
                                cy="1974"
                                rx="168.851"
                                ry="211.234"></ellipse>
                        </g>
                        <g style="opacity:0.4;">
                            <ellipse
                                style="fill:#FFFFFF;"
                                cx="2434.979"
                                cy="2013.555"
                                rx="45.192"
                                ry="68.147"></ellipse>
                        </g>
                        <g>
                            <ellipse
                                style="fill:#FFFFFF;"
                                cx="2294.905"
                                cy="1964.642"
                                rx="60.5"
                                ry="91.23"></ellipse>
                        </g>
                        <!-- Eyelid for blink -->
                        <rect
                            class="eyelid"
                            x="2180"
                            y="1760"
                            width="350"
                            height="430"
                            style="fill:#BC3EFF;"
                            clip-path="url(#right-eye-clip)"></rect>
                    </g>
                    <!-- Thick Black Nerd Glasses - square/rectangular -->
                    <g class="glasses">
                        <!-- Left lens frame -->
                        <rect
                            x="1380"
                            y="1720"
                            width="530"
                            height="500"
                            rx="50"
                            ry="50"
                            fill="none"
                            stroke="#1a1a2e"
                            stroke-width="70"></rect>
                        <!-- Right lens frame -->
                        <rect
                            x="2090"
                            y="1720"
                            width="530"
                            height="500"
                            rx="50"
                            ry="50"
                            fill="none"
                            stroke="#1a1a2e"
                            stroke-width="70"></rect>
                        <!-- Bridge -->
                        <path
                            d="M1910,1970 L2090,1970"
                            stroke="#1a1a2e"
                            stroke-width="55"
                            fill="none"></path>
                        <!-- Left temple arm -->
                        <path
                            d="M1380,1850 L1100,1680"
                            stroke="#1a1a2e"
                            stroke-width="50"
                            stroke-linecap="round"
                            fill="none"></path>
                        <!-- Right temple arm -->
                        <path
                            d="M2620,1850 L2900,1680"
                            stroke="#1a1a2e"
                            stroke-width="50"
                            stroke-linecap="round"
                            fill="none"></path>
                    </g>
                    <!-- Mouth - simple content curve -->
                    <g class="mouth">
                        <path
                            d="M1900,2280 Q2000,2340 2100,2280"
                            stroke="#18005B"
                            stroke-width="28"
                            stroke-linecap="round"
                            fill="none"></path>
                    </g>
                    <g>
                        <path
                            style="fill:#9000CC;"
                            d="M1703.766,1128.828c-47.422,42.849-109.454,51.479-138.551,19.276
              c-29.098-32.203-14.242-93.045,33.18-135.894s109.454-51.479,138.551-19.277
              C1766.043,1025.137,1751.188,1085.979,1703.766,1128.828z M2665.849,1402.163c40.51-40.51,24.99-121.711-34.666-181.367
              c-59.656-59.656-140.856-75.176-181.366-34.666c-40.51,40.51-24.99,121.711,34.666,181.366
              C2544.138,1427.153,2625.339,1442.673,2665.849,1402.163z M1461.187,1324.123c-30.887-13.808-72.41,11.871-92.744,57.355
              c-20.334,45.484-11.779,93.551,19.108,107.359c30.887,13.808,72.41-11.871,92.744-57.355
              C1500.629,1385.997,1492.074,1337.931,1461.187,1324.123z M2277.906,1022.264c13.808-30.887-11.871-72.41-57.355-92.744
              c-45.484-20.334-93.551-11.779-107.359,19.108c-13.808,30.887,11.871,72.41,57.355,92.744
              C2216.031,1061.706,2264.097,1053.151,2277.906,1022.264z M2208.098,1256.717c18.589-18.589,13.386-53.931-11.62-78.938
              c-25.007-25.007-60.348-30.21-78.938-11.62c-18.589,18.589-13.386,53.931,11.62,78.938S2189.509,1275.306,2208.098,1256.717z"
                        ></path>
                    </g>
                    <g>
                        <g>
                            <path
                                style="fill:#9E0CE2;"
                                d="M2667.756,1269.157c-9.247-16.826-21.494-33.282-36.572-48.36
                c-59.656-59.656-140.856-75.176-181.367-34.666c-31.691,31.691-29.088,88.285,2.108,139.985
                c23.485,3.16,47.479,6.119,72.372,8.707C2615.392,1344.285,2658.889,1315.464,2667.756,1269.157z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#9E0CE2;"
                                d="M2113.192,948.628c-13.809,30.887,11.87,72.41,57.355,92.744
                c45.484,20.334,93.55,11.779,107.358-19.108c13.808-30.887-11.871-72.41-57.355-92.744
                C2175.066,909.186,2126.999,917.741,2113.192,948.628z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#9E0CE2;"
                                d="M1598.395,1012.21c-47.422,42.849-62.277,103.691-33.18,135.894
                c29.097,32.203,91.129,23.573,138.551-19.276c47.422-42.849,62.277-103.691,33.18-135.894
                C1707.848,960.731,1645.817,969.361,1598.395,1012.21z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#9E0CE2;"
                                d="M2208.098,1256.717c18.589-18.589,13.387-53.931-11.621-78.938
                c-25.006-25.007-60.348-30.209-78.938-11.62c-18.589,18.589-13.386,53.931,11.621,78.938S2189.508,1275.306,2208.098,1256.717z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#9E0CE2;"
                                d="M1406.371,1333.563c19.091,3.474,42.075,4.093,69.352,1.261
                c-4.094-4.537-8.935-8.197-14.537-10.701C1444.356,1316.598,1424.369,1320.821,1406.371,1333.563z"
                            ></path>
                        </g>
                    </g>
                    <g>
                        <path
                            style="fill:#18005B;"
                            d="M2831.507,3042.653c-189.15,0.005-386.997-82.351-528.911-158.071
              c-151.479-80.828-268.516-168.987-302.598-195.547c-34.082,26.56-151.113,114.719-302.593,195.544
              c-167.124,89.172-411.841,187.542-628.525,149.778c-240.835-41.968-427.539-164.827-525.703-345.945
              c-82.373-151.978-93.179-332.256-28.897-482.249c74.482-173.784,223.613-238.049,338.34-240.247
              c118.857-2.332,220.713,55.532,265.957,150.854c30.527,64.307,28.501,139.151-5.283,195.32
              c-27.192,45.21-70.269,71.362-121.294,73.638c-71.621,3.237-100.938-32.9-112.065-54.697
              c-16.372-32.063-13.516-71.038-0.581-87.324c22.085-27.798,47.515-18.027,64.346-11.563c8.721,3.352,17.017,6.526,24.712,5.906
              c6.167-0.488,7.529-12.939,7.661-14.358c1.753-18.462-8.472-47.952-36.689-55.713c-18.296-5.039-40.239,0.96-58.638,16.04
              c-18.789,15.396-49.443,53.303-43.711,134.211c5.786,81.648,83.145,191.851,236.899,181.252
              c43.457-2.998,78.14-20.085,103.081-50.793c65.059-80.086,50.288-229.602,44.209-273.521
              c-9.57-69.175-30.923-137.295-53.535-209.414c-39.307-125.393-83.862-267.515-78.696-455.686
              c8.457-307.937,172.607-497.764,308.828-602.783c167.534-129.165,387.021-203.245,602.178-203.245
              c215.156,0,434.643,74.08,602.182,203.245c136.216,105.019,300.371,294.846,308.828,602.783
              c5.161,188.169-39.39,330.293-78.701,455.686c-22.607,72.119-43.96,140.239-53.53,209.414
              c-6.079,43.918-20.85,193.438,44.204,273.521c24.946,30.708,59.629,47.795,103.086,50.793
              c153.848,10.618,231.108-99.607,236.895-181.252c5.737-80.906-24.922-118.813-43.706-134.209
              c-18.403-15.083-40.337-21.089-58.643-16.043c-28.218,7.761-38.438,37.251-36.685,55.713c0.132,1.418,1.494,13.87,7.666,14.358
              c7.817,0.608,15.986-2.556,24.702-5.906c16.826-6.462,42.251-16.253,64.351,11.563c12.935,16.287,15.791,55.261-0.581,87.322
              c-11.128,21.799-40.503,57.866-112.065,54.7c-51.025-2.275-94.102-28.428-121.294-73.638
              c-33.784-56.169-35.811-131.013-5.283-195.32c45.249-95.327,147.29-153.152,265.952-150.854
              c114.731,2.197,263.862,66.462,338.34,240.247c64.282,149.99,53.481,330.269-28.892,482.246
              c-98.164,181.118-284.863,303.977-525.703,345.947C2898.436,3040.053,2865.101,3042.653,2831.507,3042.653z M1999.998,2648.01
              l10.103,8.223c4.722,3.845,440.215,354.458,820.728,354.5c32.109,0.002,63.76-2.49,94.795-7.898
              c231.001-40.256,409.663-157.334,503.071-329.673c77.749-143.45,88.072-313.315,27.607-454.39
              c-68.477-159.783-204.795-218.855-309.536-220.859c-106.255-1.982-196.656,48.774-236.436,132.581
              c-25.986,54.744-24.531,118.008,3.799,165.105c21.484,35.725,55.332,56.382,95.298,58.164
              c40.342,1.77,68.76-11.091,82.139-37.278c12.392-24.27,7.28-48.772,4.023-52.874c-6.968-8.77-10.288-8.33-27.808-1.594
              c-10.571,4.063-23.711,9.109-38.711,7.935c-20.132-1.594-34.658-18.564-36.997-43.232c-3.281-34.521,16.655-77.654,60.054-89.592
              c28.32-7.786,60.991,0.493,87.412,22.146c23.569,19.317,62.1,65.948,55.347,161.221
              c-6.724,94.878-95.307,223.076-271.016,210.916c-52.666-3.63-94.961-24.673-125.723-62.539
              c-71.196-87.639-59.429-237.654-51.069-298.083c9.936-71.816,31.679-141.174,54.697-214.602
              c38.56-123.001,82.261-262.412,77.241-445.234c-13.315-485.054-457.393-774.905-879.018-774.905
              c-421.631,0-865.703,289.851-879.014,774.905c-5.02,182.822,38.682,322.234,77.241,445.234
              c23.018,73.43,44.761,142.786,54.697,214.602c8.359,60.427,20.127,210.442-51.069,298.083
              c-30.762,37.866-73.061,58.909-125.723,62.539c-7.798,0.537-15.449,0.801-22.905,0.801
              c-160.576,0.012-241.685-121.05-248.115-211.716c-6.748-95.276,31.782-141.907,55.352-161.223
              c26.411-21.65,59.087-29.929,87.407-22.144c43.403,11.936,63.34,55.071,60.059,89.592c-2.339,24.668-16.86,41.638-36.992,43.232
              c-15.015,1.177-28.14-3.87-38.716-7.935c-17.524-6.736-20.845-7.183-27.808,1.594c-3.257,4.102-8.369,28.603,4.023,52.874
              c13.369,26.191,41.821,39.06,82.139,37.278c39.966-1.782,73.813-22.439,95.298-58.164c28.33-47.097,29.785-110.361,3.799-165.105
              c-39.785-83.809-130.561-134.766-236.435-132.581c-104.741,2.005-241.065,61.079-309.541,220.859
              c-60.459,141.074-50.137,310.942,27.612,454.392c93.408,172.337,272.07,289.414,503.071,329.671
              c398.838,69.48,910.4-342.434,915.517-346.602L1999.998,2648.01z"
                        ></path>
                    </g>
                    <g>
                        <g>
                            <path
                                style="fill:#BC3EFF;"
                                d="M2455.862,2586.936c73.532,212.085,224.681,369.702,384.511,304.145
                c149.601-61.361,104.69-201.629,52.596-234.188c-65.362-40.851-130.63,0.334-117.447,34.723
                c11.745,30.638,61.999,1.972,86.808,19.915c38.128,27.574,5.447,126.298-102.757,124.545
                c-100.591-1.63-145.937-114.685-142.02-178.188c10.394-168.484,235.432-306.318,456.181-142.441
                c256.341,190.298,223.66,632.51-129.702,779.234c-357.484,148.435-855.83-40.51-944.032-500.087
                c-88.202,459.577-586.548,648.522-944.032,500.087c-353.362-146.723-386.043-588.936-129.702-779.234
                c220.749-163.876,445.787-26.043,456.181,142.441c3.917,63.503-41.429,176.559-142.02,178.188
                c-108.204,1.753-140.885-96.97-102.757-124.545c24.809-17.942,75.064,10.723,86.809-19.915
                c13.183-34.39-52.085-75.574-117.447-34.723c-52.094,32.559-97.005,172.826,52.596,234.188
                c159.83,65.557,310.979-92.06,384.511-304.145H2455.862z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#8800C1;"
                                d="M1078.548,2829.665c-44.38-66.296-9.905-148.778,28.483-172.771
                c65.362-40.851,130.63,0.334,117.447,34.723c-11.745,30.638-62,1.972-86.809,19.915c-8.191,5.924-13.092,15.144-14.699,25.934
                c19.345-3.513,50.264,4.637,68.486,8.108c28.596,5.447,85.787-4.085,76.937-84.426c-8.851-80.34-116.426-109.957-188.426-49.702
                C1004.917,2674.255,1011.031,2798.68,1078.548,2829.665z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#C85FFF;"
                                d="M1568.649,2677.319c40.851-124.085,185.997-91.875,169.532,19.915
                c-19.404,131.745-146.042,298.08-342.917,332.417c-256.022,44.653-341.339-118.799-341.339-118.799
                C1132.564,2959.702,1423.627,3105.234,1568.649,2677.319z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#9000CC;"
                                d="M3155.497,2996.463c-55.44,167.8-282.4,311.16-568.92,279.84
                c-495.32-54.12-586.559-517.12-586.559-517.12s-91.28,463-586.601,517.12c-286.521,31.32-513.44-112.04-568.92-279.84
                c21.84-2.96,51.24-0.56,90.96,11.24c137.52,40.84,284.6,228.76,600.52,122.56c287.2-96.56,411.641-492.6,464.041-528.68
                c52.359,36.08,176.8,432.12,464,528.68c315.92,106.2,463-81.72,600.52-122.56
                C3104.257,2995.903,3133.657,2993.503,3155.497,2996.463z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#ECB8FF;"
                                d="M1502.606,3248.042c-232.85,27.915-471.756-78.258-553.531-285.277
                c-75.574-191.319,27.887-363.499,124.596-403.745c109.617-45.617,191.078,32.967,220.201,12.037
                c30.012-21.568-44.193-101.585-67.763-111.813c0-0.003,0-0.007,0-0.01c-84.191-31.806-192.52-23.46-299.843,56.212
                c-256.341,190.298-223.66,632.511,129.702,779.234c283.069,117.537,654.413,23.488,840.558-248.917
                C1889.524,3053.079,1726.543,3221.196,1502.606,3248.042z"
                            ></path>
                        </g>
                        <g>
                            <path
                                style="fill:#D480E8;"
                                d="M1413.414,3276.298c91.593-10.009,169.334-34.024,235.271-66.481
                c-44.537,17.903-93.637,31.939-146.08,38.226c-208.039,24.94-420.896-57.166-522.221-222.588
                c-15.219-7.251-30.129-13.357-44.928-17.753c-39.728-11.8-69.134-14.209-90.94-11.221
                C899.959,3164.255,1126.888,3307.609,1413.414,3276.298z"
                            ></path>
                        </g>
                        <g>
                            <g>
                                <path
                                    style="fill:#BD2EFF;"
                                    d="M776.159,2987.188c11.591,18.458,27.211,29.201,42.537,26.737
                  c25.517-4.103,40.468-43.092,33.393-87.086c-7.073-43.993-33.492-76.331-59.009-72.229
                  c-16.446,2.644-28.458,19.821-33.058,43.45C762.481,2928.019,767.849,2957.893,776.159,2987.188z"
                                ></path>
                            </g>
                            <g>
                                <path
                                    style="fill:#BD2EFF;"
                                    d="M790.665,2748.353c19.062,12.219,54.008-8.285,78.055-45.798
                  c24.048-37.512,28.089-77.828,9.028-90.047c-14.182-9.091-37.152-0.047-57.889,20.616
                  c-17.303,28.91-30.966,59.766-40.985,91.811C779.781,2735.518,783.643,2743.852,790.665,2748.353z"
                                ></path>
                            </g>
                            <g>
                                <path
                                    style="fill:#BD2EFF;"
                                    d="M1070.915,2473.29c-4.35-10.007-16.036-15.71-31.51-16.994
                  c-37.098,11.715-75.183,30.972-113.14,59.151c-0.973,0.722-1.902,1.481-2.866,2.21c-2.697,7.135-3.065,13.985-0.47,19.958
                  c9.026,20.765,49.471,23.199,90.336,5.436C1054.131,2525.288,1079.942,2494.055,1070.915,2473.29z"
                                ></path>
                            </g>
                            <g>
                                <path
                                    style="fill:#BD2EFF;"
                                    d="M980.152,3255.832c0.83-0.658,1.681-1.29,2.437-2.047c18.275-18.275,7.547-58.631-23.96-90.139
                  c-31.508-31.508-71.864-42.235-90.139-23.961c-3.308,3.307-5.635,7.357-7.091,11.927
                  C893.402,3191.091,932.939,3226.514,980.152,3255.832z"
                                ></path>
                            </g>
                            <g>
                                <path
                                    style="fill:#BD2EFF;"
                                    d="M1326.121,3344.234c-2.823-22.682-32.146-44.88-71.063-52.031
                  c-43.825-8.053-83.139,6.025-87.81,31.443c-0.332,1.807-0.433,3.623-0.405,5.44
                  C1218.807,3340.249,1272.36,3345.26,1326.121,3344.234z"
                                ></path>
                            </g>
                        </g>
                        <g style="opacity:0.4;">
                            <path
                                style="fill:#FFFFFF;"
                                d="M1345.329,2640.042c25.85,117.002-84.906,200.694-160.438,186.483
                c15.572,6.238,34.038,9.899,55.535,9.551c100.591-1.63,145.938-114.685,142.02-178.188
                c-10.394-168.484-235.432-306.318-456.181-142.442c-203.036,150.727-224.705,459.465-49.373,654.266
                c-86.385-174.556-127.605-458.861,49.373-605.244C1103.287,2418.049,1316.042,2507.479,1345.329,2640.042z"
                            ></path>
                        </g>
                        <g style="opacity:0.5;">
                            <path
                                style="fill:#FFFFFF;"
                                d="M1520.778,2725.063c28.04-63.52,35.96-120.56,23.359-138.12
                c-13.84,39.88-30.399,77.84-49.279,112.76c-72.961,135.08-180.16,224.48-295.08,203.28c-13.28-2.44-26.681-6.4-40.16-11.92
                c-109.8-45-114.8-132.56-89.12-188.8c-68,54.88-20,235.84,153.12,241.76c47.12,50.92,140.24,54.44,219.24,4.96
                c86.68-54.24,123.52-151.64,82.279-217.52C1523.778,2729.263,1522.337,2727.143,1520.778,2725.063z"
                            ></path>
                        </g>
                        <g style="opacity:0.5;">
                            <ellipse
                                transform="matrix(0.8477 -0.5305 0.5305 0.8477 -1350.3381 1266.1555)"
                                style="fill:#FFFFFF;"
                                cx="1529.899"
                                cy="2984.754"
                                rx="68.222"
                                ry="42.247"></ellipse>
                        </g>
                        <g>
                            <g>
                                <path
                                    style="fill:#9000CC;"
                                    d="M2921.452,2829.665c44.38-66.296,9.905-148.778-28.483-172.771
                  c-65.362-40.851-130.63,0.334-117.447,34.723c11.745,30.638,62,1.972,86.809,19.915c8.191,5.924,13.092,15.144,14.699,25.934
                  c-19.345-3.513-50.264,4.637-68.486,8.108c-28.596,5.447-85.787-4.085-76.937-84.426
                  c8.852-80.34,116.426-109.957,188.426-49.702C2995.083,2674.255,2988.969,2798.68,2921.452,2829.665z"
                                ></path>
                            </g>
                            <g>
                                <path
                                    style="fill:#C85FFF;"
                                    d="M2431.352,2677.319c-40.851-124.085-185.997-91.875-169.532,19.915
                  c19.404,131.745,146.042,298.08,342.917,332.417c256.022,44.653,341.339-118.799,341.339-118.799
                  C2867.437,2959.702,2576.373,3105.234,2431.352,2677.319z"
                                ></path>
                            </g>
                            <g>
                                <path
                                    style="fill:#ECB8FF;"
                                    d="M2497.395,3248.042c232.85,27.915,471.756-78.258,553.531-285.277
                  c75.574-191.319-27.887-363.499-124.596-403.745c-109.617-45.617-191.078,32.967-220.201,12.037
                  c-30.012-21.568,44.192-101.585,67.763-111.813c0-0.003,0-0.007,0-0.01c84.191-31.806,192.521-23.46,299.843,56.212
                  c256.341,190.298,223.66,632.511-129.702,779.234c-283.069,117.537-654.413,23.488-840.558-248.917
                  C2110.477,3053.079,2273.457,3221.196,2497.395,3248.042z"
                                ></path>
                            </g>
                            <g>
                                <path
                                    style="fill:#D480E8;"
                                    d="M2586.586,3276.298c-91.593-10.009-169.334-34.024-235.271-66.481
                  c44.537,17.903,93.637,31.939,146.08,38.226c208.039,24.94,420.896-57.166,522.221-222.588
                  c15.219-7.251,30.129-13.357,44.928-17.753c39.729-11.8,69.134-14.209,90.94-11.221
                  C3100.041,3164.255,2873.113,3307.609,2586.586,3276.298z"
                                ></path>
                            </g>
                            <g>
                                <g>
                                    <path
                                        style="fill:#BD2EFF;"
                                        d="M3223.841,2987.188c-11.591,18.458-27.211,29.201-42.537,26.737
                    c-25.517-4.103-40.468-43.092-33.394-87.086c7.073-43.993,33.492-76.331,59.009-72.229
                    c16.446,2.644,28.458,19.821,33.058,43.45C3237.52,2928.019,3232.152,2957.893,3223.841,2987.188z"
                                    ></path>
                                </g>
                                <g>
                                    <path
                                        style="fill:#BD2EFF;"
                                        d="M3209.335,2748.353c-19.062,12.219-54.008-8.285-78.055-45.798
                    c-24.048-37.512-28.089-77.828-9.028-90.047c14.182-9.091,37.152-0.047,57.889,20.616
                    c17.303,28.91,30.966,59.766,40.985,91.811C3220.22,2735.518,3216.358,2743.852,3209.335,2748.353z"
                                    ></path>
                                </g>
                                <g>
                                    <path
                                        style="fill:#BD2EFF;"
                                        d="M2929.085,2473.29c4.35-10.007,16.036-15.71,31.51-16.994
                    c37.098,11.715,75.183,30.972,113.14,59.151c0.973,0.722,1.902,1.481,2.866,2.21c2.697,7.135,3.065,13.985,0.47,19.958
                    c-9.026,20.765-49.471,23.199-90.336,5.436S2920.059,2494.055,2929.085,2473.29z"
                                    ></path>
                                </g>
                                <g>
                                    <path
                                        style="fill:#BD2EFF;"
                                        d="M3019.849,3255.832c-0.83-0.658-1.681-1.29-2.437-2.047
                    c-18.275-18.275-7.547-58.631,23.96-90.139c31.508-31.508,71.864-42.235,90.139-23.961c3.308,3.307,5.635,7.357,7.091,11.927
                    C3106.599,3191.091,3067.062,3226.514,3019.849,3255.832z"
                                    ></path>
                                </g>
                                <g>
                                    <path
                                        style="fill:#BD2EFF;"
                                        d="M2673.879,3344.234c2.823-22.682,32.146-44.88,71.063-52.031
                    c43.825-8.053,83.139,6.025,87.81,31.443c0.332,1.807,0.433,3.623,0.405,5.44
                    C2781.194,3340.249,2727.641,3345.26,2673.879,3344.234z"
                                    ></path>
                                </g>
                            </g>
                            <g style="opacity:0.4;">
                                <path
                                    style="fill:#FFFFFF;"
                                    d="M2654.671,2640.042c-25.85,117.002,84.906,200.694,160.438,186.483
                  c-15.572,6.238-34.038,9.899-55.535,9.551c-100.591-1.63-145.938-114.685-142.02-178.188
                  c10.394-168.484,235.432-306.318,456.181-142.442c203.036,150.727,224.705,459.465,49.373,654.266
                  c86.385-174.556,127.605-458.861-49.373-605.244C2896.713,2418.049,2683.958,2507.479,2654.671,2640.042z"
                                ></path>
                            </g>
                            <g style="opacity:0.5;">
                                <path
                                    style="fill:#FFFFFF;"
                                    d="M2479.223,2725.063c-28.04-63.52-35.96-120.56-23.359-138.12
                  c13.84,39.88,30.399,77.84,49.279,112.76c72.961,135.08,180.16,224.48,295.08,203.28c13.28-2.44,26.681-6.4,40.16-11.92
                  c109.8-45,114.8-132.56,89.12-188.8c68,54.88,20,235.84-153.12,241.76c-47.12,50.92-140.24,54.44-219.24,4.96
                  c-86.68-54.24-123.52-151.64-82.279-217.52C2476.223,2729.263,2477.663,2727.143,2479.223,2725.063z"
                                ></path>
                            </g>
                            <g style="opacity:0.5;">
                                <ellipse
                                    transform="matrix(0.5305 -0.8477 0.8477 0.5305 -1370.4039 3495.3147)"
                                    style="fill:#FFFFFF;"
                                    cx="2470.102"
                                    cy="2984.754"
                                    rx="42.247"
                                    ry="68.222"></ellipse>
                            </g>
                        </g>
                        <g>
                            <path
                                style="fill:#18005B;"
                                d="M2459.641,2585.625c60.443,111.532,120.921,243.981,245.526,292.826
                c38.937,14.418,81.602,14.847,120.533,0.315c57.902-20.079,107.309-66.456,98.821-131.975
                c-3.367-27.787-16.607-57.902-39.183-74.314c-21.988-15.151-54.89-20.943-78.155-8.402c-9.215,5.17-19.293,13.64-14.709,22.609
                c0.33,0.418,0.451,0.547,0.804,0.811c0.693,0.476,3.445,1.45,7.628,1.606c17.524,0.725,31.959-3.974,53.05,0.115
                c33.832,6.216,47.46,46.112,39.044,75.496c-6.443,27.065-23.668,49.301-45.072,64.287
                c-32.505,22.406-71.801,28.427-109.623,23.233c-64.214-9.471-110.071-65.41-128.667-123.997
                c-33.833-93.999,17.921-201.317,97.477-254.906c79.109-55.878,185.194-63.991,274.605-29.905
                c133.734,49.857,233.842,168.071,265.928,306.564c44.823,182.803-29.184,386.619-181.774,497.057
                c-319.486,230.08-819.198,101.888-1005.899-239.609c-36.594-64.603-61.457-137.2-75.69-209.826h31.426
                c-8.87,45.005-21.537,89.312-38.481,132.068l-13.492,31.75c-5.135,9.925-17.772,36.649-23.716,46.008
                c-143.62,260.096-462.009,395.701-751.392,345.006c-185.49-30.413-355.516-144.849-419.695-326.673
                c-57.268-153.531-30.306-337.388,77.79-462.254c62.01-70.405,146.695-123.881,240.565-137.64
                c145.021-22.835,302.075,76.429,313.339,229.211c3.719,88.319-53.756,189.765-148.478,198.295
                c-60.318,6.219-129.782-24.609-145.131-88.676c-6.764-24.572,0.995-59.317,27.146-71.427c15.968-7.924,36.934-5.543,50.387-4.57
                c6.996,0.499,17.473,1.267,22.182-1.194c2.461-2.183,2.405-5.5,1.252-8.965c-11.166-21.441-44.746-25.195-67.752-18.037
                c-57.571,15.352-79.287,92.532-56.683,143.323c16.113,37.165,53.106,61.326,90.738,74.956
                c131.667,48.066,241.411-72.484,302.19-176.346c23.105-37.402,43.164-76.825,63.896-116.854c1.025-1.98,3.461-2.754,5.44-1.729
                c1.636,0.847,2.447,2.664,2.1,4.385c-9.014,44.602-24.69,87.891-45.796,128.623c-61.244,120.007-193.681,246.886-339.02,193.165
                c-46.18-16.536-89.845-46.104-110.358-92.631c-20.817-46.972-13.562-102.606,14.984-144.753
                c13.791-21.49,37.682-38.066,62.764-45.109c24.938-7.408,53.361-7.044,78.393,5.839c21.134,10.523,39.87,33.885,33.419,59.417
                c-6.83,29.045-36.158,33.593-60.201,30.802c-14.14-0.6-24.466-2.948-33.929,2.056c-8.871,7.096-9.418,19.04-6.74,31.014
                c11.219,45.066,63.659,65.706,107.388,60.958c74.294-6.929,118.03-91.74,115.129-159.996
                c-10.317-130.717-147.407-214.105-271.338-193.922c-94.71,14.386-180.677,73.426-236.843,149.912
                c-109.623,148.906-101.083,366.373,9.662,512.432c78.001,105.258,202.175,167.613,329.692,189.367
                c279.53,50.392,589.627-83.895,723.54-338.871c30.874-57.549,52.604-121.039,65.622-184.974l15.714-76.394l15.714,76.394
                c13.01,63.908,34.762,127.464,65.622,184.975c51.678,96.266,128.523,178.693,220.822,237.224
                c218.03,139.966,526.509,157.775,741.133,3.025c140.561-101.825,208.719-289.607,167.353-457.994
                c-17.28-73.018-54.748-141.15-108.24-193.683c-99.192-97.186-251.564-144.38-373.902-60.944
                c-67.127,45.788-112.003,132.351-84.064,212.765c12.218,37.563,36.286,74.402,72.315,91.311
                c34.484,15.986,79.752,12.49,110.775-8.464c21.029-14.29,38.026-41.615,30.462-65.782
                c-6.226-15.951-23.256-10.776-40.091-10.384c-14.942,0.697-28.142,2.283-43.545-6.796
                c-25.383-16.448-21.513-53.116-0.937-70.918c46.879-42.482,126.576-23.032,158.876,26.723
                c44.874,65.903,32.945,155.157-31.668,203.186c-38.568,29.297-86.567,46.856-135.328,46.749
                c-162.978-4.304-285.28-189.671-313.216-334.323c-0.427-2.192,1.001-4.313,3.191-4.743
                C2457.08,2583.153,2458.841,2584.065,2459.641,2585.625L2459.641,2585.625z"
                            ></path>
                        </g>
                    </g>
                    <g>
                        <path
                            style="fill:#9000CC;"
                            d="M2120.998,1998.827c5.245-29.345-67.532-101.63-120.998-101.63s-126.243,72.285-120.998,101.63
              c4.01,22.432,48.245,5.405,120.994,5.405S2116.988,2021.26,2120.998,1998.827z"
                        ></path>
                    </g>
                    <g style="opacity:0.5;">
                        <ellipse
                            transform="matrix(0.8218 -0.5698 0.5698 0.8218 -388.2512 1128.6462)"
                            style="fill:#FFFFFF;"
                            cx="1610.213"
                            cy="1185.01"
                            rx="353.775"
                            ry="202.566"></ellipse>
                    </g>
                    <g class="smile-line">
                        <path
                            style="fill:#9000CC;"
                            d="M2443.231,2351.072c41.17-14.552,69.422,41.627,33.188,65.996
              c-105.153,70.719-261.62,137.875-476.4,137.875s-371.257-67.155-476.42-137.875c-36.236-24.368-7.986-80.549,33.185-65.998
              c110.771,39.15,262.295,75.432,443.234,75.432C2180.956,2426.503,2332.47,2390.222,2443.231,2351.072z"
                        ></path>
                    </g>
                </g>
            </g>
        </svg>
    </button>
</div>

<!-- Pass comments to JS -->
<script define:vars={{ comments }}>
    window.inkyComments = comments;
</script>

<script>
    const container = document.getElementById("inky-container");
    const mascot = document.getElementById("inky-mascot");
    const bubble = document.getElementById("inky-bubble");
    const text = document.getElementById("inky-text");
    const sourceLink = document.getElementById(
        "inky-source",
    ) as HTMLAnchorElement;

    let isActivated = false;
    let deactivateTimer: ReturnType<typeof setTimeout> | null = null;
    const DEACTIVATE_DELAY = 12000; // 12 seconds

    const comments = (window as any).inkyComments || [
        "I surfaced from the deep web just to judge your code.",
        "Your Docker containers are more tangled than my tentacles.",
        "I've seen cleaner git histories in the Mariana Trench.",
    ];

    // Shuffle array using Fisher-Yates algorithm
    function shuffleArray<T>(array: T[]): T[] {
        const shuffled = [...array];
        for (let i = shuffled.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [shuffled[i], shuffled[j]] = [shuffled[j], shuffled[i]];
        }
        return shuffled;
    }

    // Track shown comments - shuffle on init and cycle through
    let shuffledComments = shuffleArray(comments);
    let currentIndex = 0;
    let hasExhausted = false;

    const exhaustedMessages = [
        "That's all I've got... for now. My tentacles are tired.",
        "I've spilled all my ink! Check back tomorrow for fresh takes.",
        "You've drained my ocean of wisdom. Come back later!",
        "No more secrets from the deep. I need to recharge my snark.",
        "*blub blub* That's everything. Even octopuses need a break.",
    ];

    // Reset deactivation timer
    function resetDeactivateTimer() {
        if (deactivateTimer) {
            clearTimeout(deactivateTimer);
        }
        deactivateTimer = setTimeout(() => {
            if (isActivated) {
                isActivated = false;
                mascot?.classList.remove("activated");
                bubble?.classList.remove("visible");
            }
        }, DEACTIVATE_DELAY);
    }

    // Update source icon visibility and link
    function updateSourceIcon(comment: any) {
        if (!sourceLink) return;

        const sourceType = comment?.sourceType;
        const sourceUrl = comment?.sourceUrl;
        const sourceTitle = comment?.sourceTitle;

        // Hide all icons first
        sourceLink.querySelector(".hn-icon")?.classList.remove("visible");
        sourceLink.querySelector(".tns-icon")?.classList.remove("visible");
        sourceLink.querySelector(".devops-icon")?.classList.remove("visible");

        // Only show for news comments with a URL
        if (sourceType && sourceType !== "general" && sourceUrl) {
            sourceLink.href = sourceUrl;
            sourceLink.title = sourceTitle || "Read article";
            sourceLink.style.display = "flex";

            // Show the appropriate icon
            if (sourceType === "hackernews") {
                sourceLink.querySelector(".hn-icon")?.classList.add("visible");
            } else if (sourceType === "thenewstack") {
                sourceLink.querySelector(".tns-icon")?.classList.add("visible");
            } else if (sourceType === "devopscom") {
                sourceLink
                    .querySelector(".devops-icon")
                    ?.classList.add("visible");
            }
        } else {
            sourceLink.style.display = "none";
        }
    }

    // Show next comment in sequence, or exhausted message
    function showNextComment() {
        if (currentIndex < shuffledComments.length) {
            const comment = shuffledComments[currentIndex];
            if (text) text.textContent = comment.comment || comment;
            updateSourceIcon(comment);
            currentIndex++;
        } else if (!hasExhausted) {
            // First time exhausting - show exhausted message
            hasExhausted = true;
            const exhaustedMsg =
                exhaustedMessages[
                    Math.floor(Math.random() * exhaustedMessages.length)
                ];
            if (text) text.textContent = exhaustedMsg;
            updateSourceIcon(null); // Hide source for exhausted messages
        } else {
            // Already showed exhausted, just cycle the exhausted messages
            const exhaustedMsg =
                exhaustedMessages[
                    Math.floor(Math.random() * exhaustedMessages.length)
                ];
            if (text) text.textContent = exhaustedMsg;
            updateSourceIcon(null); // Hide source for exhausted messages
        }
        bubble?.classList.add("visible");
    }

    mascot?.addEventListener("click", (e) => {
        e.stopPropagation();

        if (!isActivated) {
            // First click - activate Inky (he stays up)
            isActivated = true;
            mascot.classList.add("activated");
        }

        // Show next comment in sequence
        showNextComment();

        // Reset timer on interaction
        resetDeactivateTimer();
    });

    // Reset timer when hovering
    mascot?.addEventListener("mouseenter", () => {
        if (isActivated) {
            resetDeactivateTimer();
        }
    });

    // Close bubble when clicking outside, but keep Inky activated
    document.addEventListener("click", (e) => {
        if (!container?.contains(e.target as Node)) {
            bubble?.classList.remove("visible");
        }
    });

    // Random blinking system
    const eyelids = document.querySelectorAll(".eyelid");

    function doBlink(type: "full" | "double" | "half") {
        const leftEyelid = eyelids[0];
        const rightEyelid = eyelids[1];

        if (type === "full") {
            // Single full blink
            leftEyelid?.classList.add("blink");
            setTimeout(() => rightEyelid?.classList.add("blink"), 20);
            setTimeout(() => {
                leftEyelid?.classList.remove("blink");
                rightEyelid?.classList.remove("blink");
            }, 150);
        } else if (type === "double") {
            // Double blink
            leftEyelid?.classList.add("blink");
            setTimeout(() => rightEyelid?.classList.add("blink"), 20);
            setTimeout(() => {
                leftEyelid?.classList.remove("blink");
                rightEyelid?.classList.remove("blink");
            }, 120);
            setTimeout(() => {
                leftEyelid?.classList.add("blink");
                setTimeout(() => rightEyelid?.classList.add("blink"), 20);
            }, 250);
            setTimeout(() => {
                leftEyelid?.classList.remove("blink");
                rightEyelid?.classList.remove("blink");
            }, 400);
        } else if (type === "half") {
            // Half/sleepy blink
            leftEyelid?.classList.add("half-blink");
            setTimeout(() => rightEyelid?.classList.add("half-blink"), 30);
            setTimeout(() => {
                leftEyelid?.classList.remove("half-blink");
                rightEyelid?.classList.remove("half-blink");
            }, 300);
        }
    }

    function scheduleNextBlink() {
        // Random interval between 2-6 seconds
        const delay = 2000 + Math.random() * 4000;

        setTimeout(() => {
            // Random blink type
            const rand = Math.random();
            if (rand < 0.6) {
                doBlink("full");
            } else if (rand < 0.85) {
                doBlink("double");
            } else {
                doBlink("half");
            }
            scheduleNextBlink();
        }, delay);
    }

    // Start blinking
    scheduleNextBlink();
</script>

<style>
    .inky-container {
        position: fixed;
        bottom: 0;
        left: 20px;
        z-index: 100;
        display: none;
    }

    @media (min-width: 1200px) {
        .inky-container {
            display: block;
        }
    }

    .inky-mascot {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        width: 150px;
        height: 150px;
        opacity: 0.4;
        transition:
            opacity 0.4s ease,
            transform 0.6s ease-out;
        /* Only tentacles peek from bottom */
        transform: translateY(90px);
    }

    .inky-mascot:hover,
    .inky-mascot.activated {
        opacity: 1;
        /* Rise up to show full Inky */
        transform: translateY(-15px);
    }

    .inky-mascot:active {
        transform: translateY(-15px) scale(0.97);
    }

    .inky-svg {
        width: 100%;
        height: 100%;
        filter: drop-shadow(0 0 8px rgba(188, 62, 255, 0.3));
        animation: glow 3s ease-in-out infinite;
    }

    @keyframes glow {
        0%,
        100% {
            filter: drop-shadow(0 0 8px rgba(188, 62, 255, 0.3));
        }
        50% {
            filter: drop-shadow(0 0 15px rgba(188, 62, 255, 0.6));
        }
    }

    /* Eyelid - controlled by JS for random blinking */
    .eyelid {
        transform: translateY(-430px);
        transition: transform 0.1s ease-in-out;
    }

    .eyelid.blink {
        transform: translateY(0);
    }

    .eyelid.half-blink {
        transform: translateY(-215px);
    }

    /* Speech bubble */
    .inky-bubble {
        position: absolute;
        bottom: 160px;
        left: 0;
        background: var(--color-surface);
        border: 2px solid #bc3eff;
        border-radius: 1rem;
        padding: 1rem;
        max-width: 280px;
        min-width: 200px;
        box-shadow:
            0 0 20px rgba(188, 62, 255, 0.2),
            0 4px 20px rgba(0, 0, 0, 0.15);
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px) scale(0.95);
        transition: all 0.2s ease;
    }

    .inky-bubble.visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(0) scale(1);
    }

    /* Bubble arrow */
    .inky-bubble::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 40px;
        border-width: 10px 10px 0;
        border-style: solid;
        border-color: var(--color-surface) transparent transparent;
    }

    .inky-bubble::before {
        content: "";
        position: absolute;
        bottom: -14px;
        left: 38px;
        border-width: 12px 12px 0;
        border-style: solid;
        border-color: #bc3eff transparent transparent;
    }

    .inky-text {
        margin: 0;
        font-size: 0.9rem;
        line-height: 1.5;
        color: var(--color-foreground);
    }

    .inky-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.5rem;
    }

    .inky-name {
        font-size: 0.75rem;
        color: #bc3eff;
        font-style: italic;
    }

    .inky-source {
        display: none;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        color: var(--color-foreground);
        opacity: 0.6;
        transition:
            opacity 0.2s ease,
            color 0.2s ease;
    }

    .inky-source:hover {
        opacity: 1;
        color: #bc3eff;
    }

    .source-icon {
        display: none;
        width: 16px;
        height: 16px;
    }

    .source-icon.visible {
        display: block;
    }
</style>
