{{ if .Get "src" }}
    <figure class="{{ with .Get "position"}}{{ . }}{{ else -}} left {{- end }} zoomable" >
        <img src="{{ .Get "src" | safeURL }}" {{ with .Get "alt" }} alt="{{ . | plainify }}" {{ end }} {{ with .Get "style" }} style="{{ . | safeCSS }}" {{ end }} />

        {{ if .Get "caption" }}
            <figcaption class="{{ with .Get "captionPosition"}}{{ . }}{{ else -}} center {{- end }}" {{ with .Get "captionStyle" }} style="{{ . | safeCSS }} zoomable" {{ end }}>{{ .Get "caption" | safeHTML }}</figcaption>
        {{ end }}
    </figure>
{{ end }}
